<!DOCTYPE html>
<? env = pml.get('globals')['Environment'] ?>
<html>
  <head>
	<title><? pml.get('page_title') ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/caffeine.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	<div id='shadow'>
	  <div id='banner'>Caffeine@ACM</div>
	  <div id='middle-header'>Confirm Your Selection</div>
	  <div class='middle-content'>
		<div class='middle-text'>
		  <? drink_id = env.last_button
			 drink = env.tool.db.getItems()[drink_id] ?>
		  <h2><? print drink.title ?></h2>
		  <p><img src="/assets/drinks/<? print drink.extra['sid'] ?>.png" /></p>
		  <h3>$<? print '%.2f' % drink.price ?></h3>
		  <p>Confirm this drink selection by pressing the button again.</p>
		</div>
	  </div>
	  <div id='copyright'>&copy; 2010 <a class="copyright" href="http://acm.uiuc.edu/lug">Linux Users Group</a> @ UIUC</div>
	</div>
  </body>
</html>
