<!DOCTYPE html>
<html>
	<head>
		<title><? pml.get('page_title') ?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="/caffeine.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div id='shadow'>
			<div id='banner'>Caffeine@ACM</div>
			<div id='middle-header'>User Information</div>
			<div id='middle-content'>
				<div id='middle-text'>
					<?
					user = pml.get('globals')['Environment'].user
					?>
					<table>
						<tr><td colspan='2'>&nbsp;</td><td><b><? print user.extra['first_name'] ?></b></td><td><b><? print user.extra['last_name'] ?></b></td></tr>
						<?
						i=0
						for drink in pml.get('globals')['Environment'].tool.db.getItems(): ?>
						<?  if drink.quantity == 0: ?>
						<tr class='tray_empty'><td rowspan='2' class='header'><? print i ?></td><td rowspan='2'></td><td colspan='2'>Empty, was <? print drink.title ?></td></tr>
						<tr class='tray_empty'><td><? print drink.quantity ?></td><td>$<? print "%.2f" % drink.price ?></td>
						<? #if
						else: ?>
						<tr><td rowspan='2' class='header'><? print i ?></td><td rowspan='2'></td><td colspan='2'><? print drink.title ?></td></tr>
						<tr><td><? print drink.quantity ?></td><td>$<? print "%.2f" % drink.price ?></td>
						<? #else ?>
						<?
						i +=1
						#for
						?>
					</table>
				</div>
			</div>
			<div id='copyright'>&copy; 2010 <a class="copyright" href="http://acm.uiuc.edu/lug">Linux Users Group</a> @ UIUC</div>
		</div>
	</body>
</html>

